<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225729916323-p1uomqpv3q8h42g6nbtd7poir5gfgb58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225729916323-p1uomqpv3q8h42g6nbtd7poir5gfgb58</string>
	<key>API_KEY</key>
	<string>AIzaSyAVzGQgVrzeZSG0a9eeCqZ54k2WV1loWFg</string>
	<key>GCM_SENDER_ID</key>
	<string>225729916323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.backfront.YogaZone</string>
	<key>PROJECT_ID</key>
	<string>yogazone-feature---bmi</string>
	<key>STORAGE_BUCKET</key>
	<string>yogazone-feature---bmi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225729916323:ios:46e32b33d7181c88607e16</string>
</dict>
</plist>